/* ------------------------------------------------------- */
/*                     CONFIG FOR THEME                    */
/* ------------------------------------------------------- */

/* ---------------------- FONTS -------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import './game/styles/game.scss';


@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000;
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: rgba(32, 201, 255, .2);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(225, 225, 225, .6);
  }

  ::-webkit-scrollbar {
    display: none;
  }

}

button,
a,
[role="button"] {
  cursor: none !important;
}

/* index.css */
html,
body,
* {
  cursor: none !important;

}



/* .custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  mix-blend-mode: difference;
  pointer-events: none;
}

.custom-cursor::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--ring-size, 0px);
  height: var(--ring-size, 0px);
  border-radius: 50%;
  border: px solid white;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
  mix-blend-mode: difference;
  pointer-events: none;
} */


.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  z-index: 9999;
  mix-blend-mode: difference;
  pointer-events: none;
}

.cursor-ring {
  position: fixed;
  width: var(--ring-size, 0px);
  height: var(--ring-size, 0px);
  border: 2px solid white;
  border-radius: 50%;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 9998;
  transition: width 0.2s ease, height 0.2s ease;
}

#threejs-canvas {
  /* L'ID ou la classe de votre élément canvas */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  /* Place le canvas derrière tout le contenu HTML */
}